<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React Tutorial</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/babel">
    var Player = React.createClass({
      render: function() {
        return (
          <div className="player">
            <div className="name">{this.props.name}</div>
            <div className="piece">{this.props.piece}</div>
            <div className="octave">{this.props.octave}</div>
          </div>
        );
      }
    });

    var PlayerList = React.createClass({
      render: function() {
        var players = [];
        var state = this.props.state;
        Object.keys(state.players).forEach(function(playerId) {
          players.push(<Player key={playerId} name={state.players[playerId].name} piece={state.players[playerId].piece} octave={state.players[playerId].octave_shift} />);
        });

        return (
          <div className="playerList">
            {players}
          </div>
        );
      }
    });

    $.getJSON('http://127.0.0.1:8001/status', function(state) {
      ReactDOM.render(
        <PlayerList state={state} />,
        document.getElementById('content')
      );
    });
    </script>
  </body>
</html>